.home-entities {
  &__content {
    &--title {
      font-size: size(70);
      font-weight: 400;
      line-height: size(69);
      font-family: $font-title;
      text-transform: uppercase;
    }

    &--cards {
      .card {
        background: white;
        border-radius: 16px;
        display: flex;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        min-height: 200px;

        &:not(:last-child) {
          margin-bottom: 43px;
        }

        &__image {
          width: 50%;
          background-size: cover;
          background-position: center;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0 1rem;

          h3 {
            font-family: 'League Gothic', sans-serif;
            font-size: 70px;
            font-weight: regular;
            color: white;
            text-transform: uppercase;
            margin: 0;
          }

          @media (max-width: 768px) {
            width: 100%;
            height: 120px;
            border-radius: 16px 16px 0 0;

            h3 {
              font-size: 36px;
            }
          }
        }

        &__body {
          width: 50%;
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1.2rem;

          p {
            font-size: 18px;
            color: #000000;
            line-height: 1.6;
            margin: 0;

            @media (max-width: 768px) {
              font-size: 14px;
            }
          }

          a {
            font-family: 'League Gothic', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 32px;
            text-decoration: underline;
            color: black;

            @media (max-width: 768px) {
              font-size: 25px;
            }
          }

          @media (max-width: 768px) {
            width: 100%;
            padding: 1rem;
          }
        }

        @media (max-width: 768px) {
          flex-direction: column;
        }
      }
    }
  }
}